body {
background-color: #d4dfdb;
align-items: center;
justify-content: center;
display: flex;
min-height: 100vh;
font-family: "Outfit";
}
#code {
    background-color: white;
align-items: center;
margin: 90px 650px;
border-radius: 20px 20px 20px 20px;
width: 400px;
height:600px;
}
.image {
    margin: 25px 20px 15px 25px;
    border-radius: 20px 20px 20px 20px;
       width: 350px;
       height: 350px;
}
h1 {
    font-size: 27px;
    margin: 5px 30px 15px 30px;
    text-align: center;
}
p {
    font-size: 22px;
    margin: 5px 30px 10px 30px;
    text-align: center;
}